<div class="sre-wrapper{% if contentIsEmpty %} sre-wrapper-empty{% endif %}">
    <div class="sre-panel{% if hasParameters %} sre-has-parameters{% endif %}">
        {{ controller }}
        {% if hasParameters %}
            <span class="sre-parameters">
                <br />
                {{ parameters }}
            </span>
        {% endif %}
    </div>
    {{ content|raw }}
</div>