{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    <span style="white-space:nowrap; color:#2f2f2f; display:inline-block; min-height:24px; border-right:1px solid #cdcdcd; padding:5px 7px 5px 4px; ">
        <a href="?_subrequest_extra_enabled={{ collector.nextState }}" style="color: #2f2f2f;">
            subrequest<span style="margin: 0; padding: 0; color: #979696;">|</span>{% if collector.currentState %}<span style="color: #759e1a">on</span>{% else %}<span style="color: #a33">off</span>{% endif %}
        </a>
    </span>
{% endblock %}